body {
    margin: 0;
    padding: 0;
    

}
a{
    text-decoration: none;
}
.header{
    background-image: linear-gradient(to bottom right, rgb(39, 24, 71), rgb(90, 61, 184));
}
.menu_item a{
    padding: 20px;
    display: block;
    color: rgb(191, 177, 255);
}
ul{
    padding: 0;
}
li{
    display: inline;
    list-style-type: none;
}


.menu_item a:hover{
    color: rgb(253, 146, 146); 
    background: rgb(56, 40, 110);
}

h2{
    text-align: center;
}
.wrap{
    max-width: 900px;
    margin:  0 auto;

}

.menu{
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
.section_1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.content{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    min-height: calc(100vh - 80px);
}
.footer{
    background-image: linear-gradient(to bottom right, rgb(90, 61, 184), rgb(39, 24, 71));
    width: 100%;
}
.content_footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
}

.content_footer a{
    display: inline;
    color: aliceblue;
}
.content_footer i{
    font-size: 25px;
    padding-left: 1rem;
}


.photo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}