html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    

}
a{
    text-decoration: none;
}

ul{
    padding: 0;
}
li{
    display: inline;
    list-style-type: none;
}
h1{
    margin: 0;
    font-size: 40px;
    opacity: 0;
}
h2{
    text-align: center;
}
.header{
    background-image: linear-gradient(to bottom right, rgb(29, 16, 56), rgb(101, 43, 168));
    height: 4000px;
}

.nav{
    position: fixed; 
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}
.menu_item a{
    margin: 0 10px;
    padding: 15px 20px;
    display: block;
    color: rgb(191, 177, 255);
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.05);

}
.menu_item a:hover{
    color: rgb(153, 94, 207); 
    background: rgb(48, 31, 105);
    border-radius: 10px;
}
.wrap{
    max-width: 760px;
    width: 100%;
    margin:  0 auto;
}

.menu{
    display: flex;
    justify-content: center;
    margin: 0;
}

.mac{
    display: flex;
    justify-content: center;
    width:  400px;
    position: relative;
    
}

.macbook{
    width: 100%;
    opacity: 0;
}
.code{
    width: 100%;
    display: none;
}
.hello_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: azure;
    height: 100vh;
}
.wrap_item{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.wrap_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}
.down{
    display: flex;
    text-align: center;
    flex-direction: column;
    
}
.down p, i{
    opacity: 1;
}
.wrap_item1 h1, p{
    opacity: 0;
}
.developer{  
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 15px 0;
}
.section_1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.content{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    height: 2000px;
    min-height: calc(100vh - 80px);
    background-image: linear-gradient(to bottom left, rgb(101, 43, 168), rgb(29, 16, 56));
}
.footer{
    background-color:  rgb(208, 194, 255);
    width: 100%;
}
.content_footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: rgb(25, 0, 46);

}

.content_footer a{
    display: inline;
    color: rgb(25, 0, 46);
}
.content_footer i{
    font-size: 25px;
    padding-left: 1rem;
}


.photo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}